{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base/home.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>iCar</title>
  </head>
  <body>
    <div class="main">
      <h1>Add Car Image</h1>
      <form class="car-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" />
        <button type="submit">Upload</button>
      </form>
      <div class="cars">
        {% for car in all_cars %}
        <div class="car">
          <img src="{{ car.image.url }}" class="image" alt="Car Image" />
          <p class="license">{{ car.license_number }}</p>
        </div>      
        {% endfor %}
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $(".car-form").submit(function () {
          $(".image").val("");
        });
      });
    </script>
  </body>
</html>
